body {
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(8);
}

.topbar {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 16;
    top: 0;
}

.blackbar {
    background-color: gray;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 17;
}

.side1 {
    background-color: gray;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 16;
    width: 4vh;
    margin-right: 18px;
}

.side2 {
    background-color: gray;
    grid-column-start: 16;    
    grid-row-start: 3;
    grid-row-end: 16;
    height: 350px;
    width: 4vh;
}
.grid1 div {
    display: inline-grid;
    grid-column-start: 2;
    margin-top: 15px;
    width: 15vh;
    height: 10px;
}
.grid2 div {
    display: inline-grid;
    grid-column-start: 2;
    width: 15vh;
    height: 10px;
}
.grid3 div {
    display: inline-grid;
    grid-column-start: 2;
    width: 15vh;
    height: 10px;
}
.grid4 div {
    display: inline-grid;
    grid-column-start: 2;
    width: 15vh;
    height: 10px;
}
.grid5 div {
    display: inline-grid;
    grid-column-start: 2;
    width: 15vh;
    height: 10px;
}
.grid6 div {
    display: inline-grid;
    grid-column-start: 2;
    width: 15vh;
    height: 10px;
}
.grid7 div {
    display: inline-grid;
    grid-column-start: 2;
    width: 15vh;
    height: 10px;
}
.grid8 div {
    display: inline-grid;
    grid-column-start: 2;
    width: 15vh;
    height: 10px;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
