.grid-container {
    display: grid;
    grid-template-columns: repeat(14);
    grid-template-rows: repeat(8);

}

.topbar {
    background-color: gold;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 16;
}
.blackbar {
    background-color: gray;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 16;
}

.side1 {
    background-color: gray;
    padding: 5px;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 14;
}

.side2 {
    background-color: gray;
    padding: 5px;
    text-align: center;
    grid-column-start: 14;
    grid-row-start: 3;
    grid-row-end: 14;
}


.grid1 div {
    grid-column-start: 2;
    grid-row-start: 3;
    padding: 2px;
    margin: 1px;
    border-color: black;
}
.grid2 div {
    grid-column-start: 2;
    grid-row-start: 4;
    margin: 1px;
    padding: 2px;
    border-color: black;
}
.grid3 div {
    grid-column-start: 2;
    grid-row-start: 5;
    padding: 2px;
    margin: 1px;
    border-color: black;
}
.grid4 div {
    grid-column-start: 2;
    grid-row-start: 6;
    margin: 1px;
    padding: 2px;
    border-color: black;
}
.grid5 div {
    grid-column-start: 2;
    grid-row-start: 7;
    margin: 1px;
    padding: 2px;
    border-color: black;
}
.grid6 div {
    grid-column-start: 2;
    grid-row-start: 8;
    margin: 1px;
    padding: 2px;
    border-color: black;
}
.grid7 div {
    grid-column-start: 2;
    grid-row-start: 9;
    margin: 1px;
    padding: 2px;
    border-color: black;
}
.grid8 div {
    grid-column-start: 2;
    grid-row-start: 10;
    margin: 1px;
    padding: 2px;
    border-color: black;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}