.container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

.dark {
    height: 50px;
    width: 50px;
    background-color: #d18a46;
}
.light {
    height: 50px;
    width: 50px;
    background-color: #ffce9e;
}